body{


  width: 375px;
  height: 812px;

background: #A6A2EF;
box-shadow: inset 0px -200px 190px rgba(0, 0, 0, 0.5);
}

.App{

}

.Button_first_page{

  width: 298px;
  height: 88px;
  margin-left: 10%;
  margin-right: 10%;
  background: black;

}

#Pick_me_button{
margin-top: 10vw;
}

#Alla_spel_button{
 
  margin-top: 5vw;

}